<script>
(function(e, t, r, n) {
    var o, c, s;
    o = e.document, c = t.children[0], s = o.createElement("script"), e.StorefrontSDKObject = "StorefrontSDK", e[e.StorefrontSDKObject] = {
        executeCommand: function(t, r) {
            e[e.StorefrontSDKObject].buffer.push([t, r])
        },
        buffer: []
    }, s.async = 1, s.src ='https://web-apps.cdn4dd.com/webapps/sdk-storefront/latest/sdk.js' , t.insertBefore(s, c)
})(window, document.head);

StorefrontSDK.executeCommand('renderFloatingButton', {
    businessId: 14343479,
    businessSlug: 'flock',
    floatingBar: false,  // Disable floating bar
    position: 'bottom',  // Position the button at the bottom of the screen
    buttonAlignment: 'center',  // Center the button horizontally
    backgroundColor: 'transparent',
    buttonBackgroundColor: '#D92128',  // Set button background color
    borderColor: 'transparent',
    buttonText: 'Order Delivery',
    showModal: false,
    topOffset: '100px',  // Adjust this based on your masthead height or desired space
    bottomOffset: '0px',  // Adjust if you want some space from the bottom of the screen
    zIndex: 9999,  // Ensure the button is above other elements
    buttonRadius: '10px'  // Set a radius for rounded corners
});
</script>
